@import "./normalize.css";
@import "./settings.css";
@import "./mobile.css";
.wr-header {
    background-image: url("../media/header/temp.jpg");
    background-size: cover;
    height: 1015px;
    background-position:center;
    padding: 52px;
}
header {
    padding: 0;
    padding-top: 75px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 43px;
}
.logo {
    font-family: "Bold", serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #212121;
}
.nav ul {
    display: flex;
}
.nav li {
    margin-left: 25px;
    list-style-type: none;
}
.nav a {
    font-family: "Bold", serif;
    text-transform: uppercase;
    color: #212121;
}
.wr-home {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.wr-home h3 {
    font-size: 18px;
    text-align: right;
    width: 554px;
    letter-spacing: -0.1px;
    word-spacing: 0.5px;
    line-height: 34px;
    margin: -33px 0px 0 364px;
}
.wr-home p {
    font-family: "Black", sans-serif;
    font-size: 72px;
    text-transform: uppercase;
    padding-top: 247px;
    position: relative;
    left: 487px;
}
.wr-home hr {
    border: none;
    background-color: black;
    height: 4px;
    width: 139px;
    position: relative;
    bottom: 59px;
    left: 406px;
}
.btn {
    margin: 53px 0 0 643px;
    font-family: "SemiBold", sans-serif;
    color: #212121;
    font-size: 18px;
    width: 275px;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box; /*чтобы размер границ рамки не влиял на общий размер*/
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}
/* section2 */
.wr-intro {
    background-color: #fff;
    height: 424px;
}
.wr-intro img {
    padding:30px 0 4px 565px;
}

.wr-intro p {
    padding: 39px 87px 0 94px;
    text-align: center;
    line-height: 33px;
    letter-spacing: 0.5px;
    word-spacing: 0.4px;
}
/* section3 */
.wr-services {
    background-color: #efefef;
    height: 376px;
    padding: 0 50px 0 88px;
    display: table;
    width: 100%;
}
.wr-services .pattern {
    text-align: left;
    display: table-cell;
}
.wr-services .pattern:not(:last-child) {
    padding-right: 109px;
}
.wr-services .pattern img:last-child {
    height: 38px;
}
.wr-services .pattern img {
    padding-top: 73px;
}
.wr-services .pattern h3 {
    padding-top: 3px;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    font-family: "SemiBold";
    font-size: 18px;
}
.wr-services .pattern p {
    width: 290px;
    padding-top: 10px;
    letter-spacing: 1.1px;
    word-spacing: -1.5px;
    line-height: 27px;
}
/* section4 */
.wr-articles h2 {
    letter-spacing: 1.6px;
    padding-top: 86px;
    word-spacing: 3px;
    text-transform:capitalize;
}
.wr-articles p {
    text-align: center;
    padding-top: 11px;
    width: 780px;
    word-spacing: 0.1px;
    padding-left: 195px;
    line-height: 32px;
}
.slider {
    margin-top: 100px;
    position: relative;
    padding: 0px 50px; 
    padding-bottom: 143px;
}
.slider-mobile {
    display: none;
}
.slider .slick-arrow, .slider-mobile .slick-arrow {
    position: absolute;
    top: 37%; 
    left:97%;
    margin: -15px 0 0 0; 
    z-index: 2; 
    font-size: 0; 
  }
.slider .slick-arrow:hover, .slider-mobile .slick-arrow:hover {
    background-color: #e64a19;
}
.slide {
    width: 370px;
    height: 370px;
    background-color: rgb(0, 0, 0);
   margin-left: -1px;
}
.slide-container {
    width: 370px;
}
.theme p {
    color:#fff;
    font-size: 14px;
    text-transform:uppercase;
    padding-top: 66px;
    padding-left: 19px;
    letter-spacing: 1px;
}
.text p {
    font-size: 25px;
    color:#fff;
    padding-left: 29px;
    letter-spacing: 1.8px;
    line-height: 34px;
}
.photo img{
    float: left;
    padding-right: 16px;
    padding-top: 55px;
    padding-left: 18px;
}
.woman-photo img{
    position: absolute;
    float: left;
    top: 214px;
}
.woman {
    margin-left: 106px;
}
.photo p {
    font-family: "SemiBold";
    font-size: 14px;
    color:#fff;
    text-transform: uppercase;
    padding-top: 55px;
    letter-spacing: 1.4px;
    word-spacing: -2px;
    line-height: 37px;
}
.data p {
    margin-top: -103px;
    color: #fff;
    letter-spacing: 1px;
}
/* section5 */
.wr-clients {
    background-color:#efefef ;
    height: 365px; 
    margin-bottom: 80px;
    margin-top: -27px;
}
.wr-clients h2 {
    letter-spacing: 1.8px;
    padding: 62px 0 38px 3px;
}
.wr-clients .slider{
    max-width: 90%;
    margin: auto;
}
.wr-clients .item img {
    margin-left: 59px;
    margin-top: 15px;
}
.wr-clients .slider .next {
    position: absolute;
    top: 42%;
    left: 995px;
    color: rgb(0, 0, 0);
    border: none;
    background-color: #efefef;
}
.wr-clients .slider .next:hover {
    background-color: #e64a19;
}
/* section6 */
.wr-portfolio {
    background-color: #efefef;
    height: 400px;
}
.wr-portfolio h2 {
    letter-spacing: 2.1px;
    word-spacing: 0.6px;
    text-align: center;
    padding-top: 27px;
}
.wr-portfolio p {
    text-align: center;
    margin: 33px 235px 0;
    line-height: 33px;
}
.wr-portfolio div{
    width: 75px;
    height: 8px;
    background-color: #e64a19;
    margin-left: 593px;
    margin-top: 46px;
}
.wr-portfolio .nav ul {
    display: flex;
    margin-left: 377px;
    margin-top: 47px;
    letter-spacing: 1.3px;
}
.wr-portfolio .nav li {
    
    margin-right: 3px;
}
.wr-portfolio .nav a {
    font-family: "Regular", sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    color: #212121;
}
/* section7 */

.wr-our_projects {
   
    margin-top: 45px;
    height:195px;
}

.wr-our_projects .middle, .wr-our_projects .first, .wr-our_projects .second {
    width: 400px;
    margin-left: 15px;
}
.wr-our_projects .second {
    margin-top: 0px;
}
/* section8 */
.wr-quote {
    margin-top: 197px;
    height: 310px;
    background-color: #212121;
    color:white;
}
.wr-quote img {
    position: relative;
    left: 50%;
    top: 30px;
}
.wr-quote p {
    font-size: 20px;
    text-align: center;
    margin: 58px 200px 41px;
    line-height: 39px;
}
.wr-quote .author {
    font-size: 20px;
    font-style: italic;
    margin-top: 23px;
}
/* section9 */
.wr-members {
    margin-top: 100px;
    margin-bottom: 434px;
}
.wr-members h2 {
    font-family: "Bold";
    font-size: 27px;
    letter-spacing: 1.8px;
    text-transform: capitalize;
    word-spacing: 1.7px;
}
.wr-members p {
    font-size: 16px;
    text-align: center;
    margin: 42px 244px 91px;
    line-height: 33px;
}
.wr-members .member {
    float: left;
    margin-right: 180px;
    margin-top: 2px;
}
.team {
    margin-left:132px;
}
.wr-members h3 {
    font-family: "Bold";
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 31px;
}
.wr-members h4 {
    font-size: 15px;
    text-transform: capitalize;
    padding:  15px 5px 0 0;
}
.first {
    float: left;
}
.first img {
    margin-left: -4px;
}
.first h4 {
    margin-left: 2px;
    margin-top: -18px;
}
.second {
    float:left;
    margin-left: 184px;
    margin-top: 4px;
}
.second h3 {
    position: relative;
    right: -11px;
    top: -5px;
}
.second h4 {
    position: relative;
    top: -26px;
}
.third {
    float:left;
    position: relative;
    left: 179px;
    top: 2px;
}
.third h3 {
    position: relative;
    top: -3px;
    left: 3px;
}
.third h4 {
    position: relative;
    top: -23px;
}
.last {
    float: left;
    position: relative;
    left: 349px;
    top: 2px;
}
.last h3 {
    position: relative;
    top: -3px;
    left: -2px;
}
.last h4 {
    position: relative;
    top: -23px;
    right: -16px;
}
/* section10 */
.wr-facts {
    background-image: url(../media/facts/font_dark.jpg);
    background-position: bottom;
    color: #fff;
    height: 690px;
}
.wr-facts h2 {
    font-family: "Bold";
    font-size: 27px;
    letter-spacing: 1.8px;
    word-spacing: 1.5px;
    padding-top: 98px;
}
.statistics {
    display: grid;
    grid-template-columns: 432px 369px;
    max-width: 831px;
    color: #fff;
    height: 291px;
    position: relative;
    top: 169px;
    margin: 0px auto;
}
.statistics::before {
    content: "";
    display: block;
    position: absolute;
    top: -128px;
    background-color: #8a8a8a;
    width: 100%;
    height: 122%;
    opacity: 0.5;
}
.statistics::after {
    content: "";
    width: 75px;
    height: 7px;
    background-color: #e64a19;
    border: none;
    position: relative;
    bottom: 231px;
    left: 377px;
}
.numbers, .numbers2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    z-index: 10;
}
.numbers::after {
    content: "";
    width: 74px;
    height: 5px;
    background-color: #4d4c4d;
    border: none;
    position: relative;
    bottom: 227px;
}
.statistics .numbers h3 {
    font-family: "Bold";
    font-size: 27px;
    letter-spacing: 1.5px;
    position: relative;
    bottom: 123px;
}
.statistics .numbers h4 {
    text-align: justify;
    font-size: 24px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    position: relative;
    bottom: 150px;
}
.numbers2::after {
    content: "";
    width: 74px;
    height: 5px;
    background-color: #4d4c4d;
    border: none;
    position: relative;
    bottom: 318px;
}
.statistics .numbers2 h3 {
    font-family: "Bold";
    font-size: 27px;
    letter-spacing: 1.5px;
    position: relative;
    bottom: 212px;
}
.statistics .numbers2 h4 {
    text-align: justify;
    font-size: 24px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    position: relative;
    bottom: 238px;
}
/* section11 */
.wr-blog {
    margin-top: 108px;
    display: inline-block;
    text-align: center;
}
.wr-blog .blog {
    margin-bottom: 43px;
}
.wr-blog .blog-2 {
    margin-bottom: 54px;
}
.wr-blog .info {
    width: 423px;
    padding: 69px 0 0 120px;
    float: left;
}
.travel-data p {
    font-size: 14px;
    color: #555555;
    word-spacing: 0px;
    letter-spacing: 1.1px;
}
.title p {
    font-family: "SemiBold", sans-serif;
    font-size: 24px;
    color: #222222;
    margin-top: -3px;
    letter-spacing: 1.3px;
    word-spacing: 2.9px;
}
.word p {
    color: #333333;
    padding-top: 21px;
    line-height: 28px;
}
.wr-blog img {
    margin-left: 103px;
}
.blog-2 img {
    margin-left: -11px;
}
.info-second_block {
    width: 423px;
    padding: 66px 0 0 120px;
    float: right;
}
.blog-2 .travel-data p {
    margin-right: 148px;
}
.blog-2 .title p {
    font-family: "SemiBold", sans-serif;
    font-size: 24px;
    color: #222222;
    padding-top: 2px;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    margin-left: -147px;
}
.blog-2 .word p {
    position: relative;
    bottom: 11px;
    right: 74px;
}
.wr-blog .info-third_block {
    width: 423px;
    padding: 64px 0 0 120px;
    float: left;
}
.blog-3 img {
    position: relative;
    top: 62px;
    left: 49px;
}
/* section12 */
.wr-journal {
    height: 216px;
    background-color: #efefef;
    margin-top: 82px;
}
.journal, .journal-center {
    text-transform: capitalize;
}
.block {
    float: left;
    margin-top: 76px;
    margin-left: 15%;
}
.block hr {
    width: 75px;
    height: 7px;
    background-color: #212121;
    border: none;
    transform: rotate(90deg);
    position: relative;
    right: 145px;
    top: 31px;
}
.block h2 {
    font-family: "SemiBold";
    font-size: 18px;
    color: #222222;
    letter-spacing: 0.05px;
    word-spacing: 0.2px;
    text-align: left;
}
.block h3 {
    font-size: 14px;
    color: #888888;
    margin-top: -4px;
    letter-spacing: 1px;
    word-spacing: 1px;
}
/* section13 */
.wr-tweet {
    margin-top: 59px;
}
.wr-tweet .twitter img {
    border-radius: 35%;
    border:none;
}
.wr-tweet .twitter a {
    position: relative;
    left: 49%;
}
.wr-tweet .twitter a:hover img{
    background-color: #e64a19;
    border-color: #e64a19;
}
.wr-tweet .author img {
    position: relative;
    left: 48%;
    bottom: -27px;
}
.wr-tweet .tweet p {
    font-size: 20px;
    text-align: center;
    width: 850px;
    padding-top: 12px;
    padding-left: 206px;
    line-height: 39px;
}
.wr-tweet .at p {
    font-family: "Bold";
    text-align: center;
    padding-top: 8px;
}
/* section14 */
.wr-form {
    height: 500px;
    background-color: #212121;
    color: #ffffff;
    margin-top: 112px;
}
.wr-form .form {
    width: 500px;
}
.wr-form h2 {
    font-family: "Bold";
    font-size: 22px;
    text-transform: uppercase;
    position: relative;
    top: 85px;
    right: 156px;
    letter-spacing: 0.1px;
}
.wr-form p {
    font-size: 14px;
    width: 432px;
    position: relative;
    top: 90px;
    left: 46px;
    line-height: 25px;
    word-spacing: 0.3px;
    letter-spacing: 0.1px;
}
.wr-form input[type=email] {
    font-size: 12px;
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 199px;
    background-color: #212121;
    position: relative;
    top: 106px;
    left: 47px;
    line-height: 21px;
    letter-spacing: 1px;
}
.wr-form input[type=text] {
    font-size: 12px;
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 199px;
    background-color: #212121;
    position: relative;
    top: 106px;
    left: 74px;
    line-height: 20px;
    letter-spacing: 1px;
}
.wr-form .message input[type=text] {
    font-size: 12px;
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 429px;
    background-color: #212121;
    position: relative;
    top: 121px;
    left: 47px;
    line-height: 22px;
    letter-spacing: 1px;
}
.wr-form input[type=text]:focus, input[type=email]:focus {
    background-color: #ffffff;
    opacity: 0.5;
}
.wr-form input:valid:not(:placeholder-shown) {
    background-color: rgb(119, 192, 119);
}
.wr-form input:invalid:not(:placeholder-shown) {
    background-color: rgb(209, 83, 66);
}
.wr-form .send input[type=submit] {
    font-size: 12px;
    visibility: hidden;
    border-bottom: 1px solid #ffffff;
    width: 429px;
}
.triangle-right {
    position: relative;
    left: 85px;
    top: 127px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #ffffff;
}
.send p {
    position: relative;
    top: 166px;
    border-bottom: 1px solid #ffffff;
    width: 1171px;
    line-height: 40px;
}
.form {
    display: inline-block;
    position: relative;
    bottom: 43px;
}
.links-1 {
    display: inline-block;
    color: #999999;
    position: relative;
    bottom: 10px;
    left: 145px;
}
.wr-form h3{
    font-family: "SemiBold";
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    top: 47px;
}
.wr-form .list {
    margin-top: 30px;
}
.wr-form li {
    list-style-type: none;
    position: relative;
    top: 45px;
    right: 3px;
    line-height: 23px;
}
.wr-form a{
    font-size: 14px;
    color: #999999;
}
.links-2 {
    display: inline-block;
    color: #999999;
    position: relative;
    bottom: 56px;
    left: 273px;
}
.links-3 {
    display: inline-block;
    color: #999999;
    position: relative;
    top: 15px;
    left: 400px;    
}
.bottom {
    display: inline-block;
}
.bottom p{
    position: relative;
    top: 206px;
    left: -674px;
}
.bottom-links {
    display: flex;
    position: relative;
    left: 928px;
    top: 97px;
    letter-spacing: 0.2px;
}
.bottom-links a {
    font-size: 13px;
    text-transform: uppercase;
    margin-right: 29px;
}
@media only screen and (max-device-width: 1275px) {
    .slide {
        margin-left: -12px;
    }
    .wr-clients .slider .next {
        left: 978px;
    }
    .wr-clients .item img {
        margin-left: 47px;
    }
    .wr-our_projects img {
        width: 400px;
        margin-left: 8px;
    }
    .wr-our_projects {
        margin-left: 0;
    }
    .block {
        margin-left: 14%;
    }
}
@media only screen and (max-device-width:1240px) {
    .wr-clients .slider .next {
        left: 945px;
    }
    .wr-clients .item img {
        margin-left: 11px;
    }
    .wr-our_projects img {
        width: 350px;
        margin-left: 48px;
    }
}
@media only screen and (max-device-width:1215px) {
    .wr-clients .slider .next {
        left: 920px;
    }
    .wr-clients .item img {
        margin-left: -10px;
    }
    .slide {
        width: 340px;
    }
    .wr-our_projects img {
        width: 350px;
        margin-left: 37px;
    }
    .wr-blog img {
        margin-left: 94px;
    }
    .wr-blog .info {
        padding-left: 95px;
    }
    .bottom-links {
        left: 805px;
    }
}
@media only screen and (max-device-width:1180px) {
    .wr-blog img {
        margin-left: 30px;
    }
    .slide {
        width: 325px;
        height: 350px;
    }
    .wr-clients .slider .next {
        left: 905px;
    }
    .wr-clients .item img {
        margin-left: -18px;
    }
    .wr-our_projects img {
        width: 340px;
        margin-left: 31px;
    }
    .wr-portfolio div {
        margin-left: 566px;
    }
    .nav li {
        margin-left: 21px;
    }
}
@media only screen and (max-device-width:1366px) and (orientation:landscape) {
    .logo {
        font-size: 34px;
    }
    .nav a{
        font-size: 19px;
    }
    .wr-clients .item img {
        margin-left: 80px;
    }
    .wr-clients .slider .next {
        left: 1043px;
    }
    .wr-portfolio div {
        margin-left: 628px;
    }
    .wr-portfolio .nav ul {
        margin-left: 412px;
    }
    .wr-our_projects {
        margin-left: 0;
    }
    .wr-our_projects img {
        width: 453px;
    }
    .team {
        margin-left: 169px;
    }
}
@media only screen and (max-device-width:1366px) and (orientation:portrait) {
    header .wrapper {
        display: inherit;
        position: relative;
        bottom: 85px;
        left: 616px;
    }
    .logo {
        font-size: 56px;
        margin-left: 41px;
        text-decoration: overline;
    }
    .nav ul {
        display: inherit;
        line-height: 42px;
        position: relative;
        top: 18px;
        right: -123px;
        text-decoration: underline;
    }
    .nav a {
        font-size: 30px;
    }
    .wr-home p {
        padding-top: 14px;
    }
    .wr-home h3 {
        font-size: 28px;
        margin-left: 373px;
    }
    .btn {
        font-size: 28px;
    }
    .wr-intro img {
        padding-left: 482px;
        width: 50px;
    }
    h2 {
        font-size: 37px;
    }
    .wr-intro p {
        padding-top: 0;
        font-size: 24px;
    }
    .wr-services .pattern {
        text-align: center;
        display: inherit;
    }
    .wr-services .pattern:last-child {
        margin-right: 105px;
    }
    .wr-services .pattern img {
        width: 50px;
    }
    .wr-services .pattern h3 {
        font-size: 30px;
    }
    .wr-services .pattern p {
        width: 100%;
        font-size: 28px;
    }
    .wr-articles p {
        width: 100%;
        padding-left: 0;
        font-size: 27px;
    }
    .slider-mobile {
        display: inherit;
        margin-left: 100px;
    }
    .slider {
        display: none;
    }
    .slider .slick-arrow, .slider-mobile .slick-arrow {
        top: 48%;
    }
    .wr-clients {
        margin-top: 43px;
    }
    .wr-clients .slider {
        display: inherit;
    }
    .wr-clients .slider .next {
        left: 780px;
    }
    .wr-clients .item img {
        margin-left: 23px;
    }
    .wr-portfolio p {
        font-size: 26px;
    }
    .wr-portfolio div {
        margin-left: 469px;
        height: 10px;
        width: 94px;
        margin-top: 30px;
    }
    .wr-portfolio .nav ul {
        margin-left: 92px;
    }
    .wr-portfolio .nav a {
        font-size: 25px;
    }
    .wr-our_projects {
        height: 637px;
    }
    .wr-our_projects .middle {
        margin-top: 30px;
        margin-left: 25%;
    }
    .wr-our_projects img {
        width: 465px;
    }
    .wr-quote img {
        width: 24px;
    }
    .wr-quote p {
        font-size: 31px;
    }
    .wr-quote .author {
        font-size: 26px;
    }
    .wr-members {
        margin-bottom: 657px;
    }
    .wr-members h2 {
        font-size: 38px;
    }
    .wr-members p {
        font-size: 32px;
        margin: 42px 98px 34px;
    }
    .wr-members .team img {
        width: 140px;   
    }
    .wr-members h3 {
        font-size: 26px;
    }
    .wr-members h4 {
        font-size: 24px;
    }
    .wr-members .first {
        margin-left: 155px;
    }
    .wr-members .third {
        top: 323px;
        left:-535px;
    }
    .wr-members .last {
        left:56%;
    }
    .wr-facts h2 {
        font-size: 35px;
        padding-top: 77px;
    }
    .statistics .numbers h3 {
        font-size: 32px;
        bottom: 140px;
    }
    .numbers::after {
        bottom: 267px;
    }
    .statistics .numbers h4 {
        font-size: 30px;
        bottom: 161px;
    }
    .statistics .numbers2 h3 {
        font-size: 32px;
        bottom: 230px;
    }
    .numbers2::after {
        bottom: 360px;
    }
    .statistics .numbers2 h4 {
        font-size: 30px;
        bottom: 258px;
    }
    .statistics::after {
        bottom: 308px;
        left: 379px;
    }
    .wr-blog .info, .info-second_block, .wr-blog .info-third_block {
        width: 100%;
        padding: 0;
        float: none;
    }
    .travel-data p{
        font-size: 30px;
    }
    .title p {
        font-size: 37px;
        margin-top: -20px;
    }
    .word p {
        font-size: 37px;
        padding-top: 0;
    }
    .wr-blog {
        margin-top: 45px;
    }
    .wr-blog .blog {
        margin-bottom: 70px;
    }
    .wr-blog img {
        width: 85%;
        margin: 0 30px;
    }
    .blog-2 .travel-data p {
        margin-right: 0;
    }
    .blog-2 .title p {
        font-size: 37px;
        margin-left: 0;
    }
    .blog-2 .word p {
        bottom: 0;
        right: 0;
    }
    .wr-blog .blog-3 img {
        width: 85%;
        margin-right: 120px;
    }
    .wr-journal {
        margin-top: 110px;
        height: 345px;
    }
    .block {
        margin-top: 37px;
    }
    .block hr {
        width: 86px;
        right: 194px;
        top: 50px;
    }
    .block h2 {
        font-size: 28px;
    }
    .block h3 {
        font-size: 25px;
    }
    .journal-center {
        margin-left: 25%;
    }
    .wr-tweet .twitter img {
        width: 34px;
    }
    .wr-tweet .author img {
        width: 90px;
        left: 46.4%;
        bottom: -24px;
    }
    .wr-tweet .tweet p {
        font-size: 34px;
        padding-top: 40px;
        padding-left: 90px;
    }
    .wr-tweet .at p {
        font-size: 26px;
    }
    .wr-form {
        height: 662px;
        margin-top: 92px;
    }
    .wr-form h2 {
        font-size: 35px;
        top: 81px;
    }
    .wr-form p {
        font-size: 29px;
        left: 19px;
        line-height: 27px;
    }
    .wr-form input[type=email], .wr-form input[type=text] {
        font-size: 22px;
    }
    .wr-form .message input[type=text] {
        font-size: 22px;
        left: 47px;
    }
    .triangle-right {
        position: relative;
        left: 94px;
        top: 116px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #ffffff;
    }
    .links-1 {
        left: 65px;
        bottom: -20px;
    }
    .wr-form h3 {
        font-size: 25px;
        top: -35px;
    }
    .wr-form li {
        top: -32px;
    }
    .wr-form a {
        font-size: 22px;
    }
    .links-2 {
        left: 123px;
        bottom: 30px;
    }
    .links-3 {
        left: 180px;
        top: 40px;
    }
    .bottom-links {
        left: 10px;
    }
    .wr-form .bottom-links li {
        top: -110px;
        left: 570px;
    }
    .bottom p {
        top: 100px;
        font-size: 24px;
    }
}
@media only screen and (max-device-width:1000px) {
    .logo {
        margin-left: 15px;
    }
    .nav ul {
        right: -85px;
    }
    .wr-clients .item img {
        margin-left: 2px;
    }
    .wr-clients .slider .next {
        left: 763px;
    }
    .wr-portfolio .nav ul {
        margin-top: 15px;
    }
    .wr-portfolio div {
        margin-left: 46%;
    }
    .wr-our_projects {
        height: 600px;
    }
    .wr-our_projects img {
        margin-left: 47px;
        width: 440px;
    }
    .wr-quote {
        height: 330px;
    }
    .wr-members .third {
        top: -19px;
        left: 150px;
    }
    .wr-members .last {
        left: 37%;
    }
    .links-1 {
        left: 55px;
    }
    .links-2 {
        left: 97px;
    }
    .links-3 {
        left: 136px;
    }
    .wr-form .bottom-links li {
        left: 521px;
    }
}
@media only screen and (max-device-width:940px) {
    .logo {
        margin-left: -40px;
    }
    .nav ul {
        right: 95px;
    }
    .wr-intro img {
        padding-left: 430px;
    }
    .wr-clients .item img {
        margin-left: 0px;
        width: 1020px;
    }
    .wr-clients .slider .next {
        left: 695px;
    }
    .wr-portfolio .nav ul {
        margin-left: 260px;
    }
    .wr-our_projects {
        height: 565px;
    }
    .wr-our_projects img {
        margin-left: 35px;
        width: 417px;
    }
    .links-1 {
        left: 26px;
    }
    .links-2 {
        left: 60px;
    }
    .links-3 {
        left: 88px;
    }
    .wr-form .bottom-links li {
        top: -20px;
        left: 463px;
    }
}
    @media only screen and (max-device-width:987px) and (orientation:landscape)  {
        .wr-intro img {
            padding-left: 460px;
        }
        .container {
            padding: 0;
        }
        .wr-services {
            padding-left: 42px;
        }
        .wr-services .pattern:not(:last-child) {
            padding-right: 18px;
        }
        .wr-articles p {
            padding-left: 120px;
        }
        .slide {
            width: 260px;
        }
        .text p {
            font-size: 20px;
        }
        .photo img {
            padding-top:50px;
        }
        .woman-photo img {
            top: 236px;
        }
        .wr-clients .item img {
            margin-left: -10px;
        }
        .wr-clients .slider .next {
            left: 751px;
        }
        .wr-portfolio .nav ul {
            margin-top: 45px;
            margin-left: 260px;
        }
        .wr-our_projects .first, .wr-our_projects .second {
            margin-left: 28px;
            width: 452px;
        }
        .wr-our_projects .middle {
            width: 452px;
            margin-top: 30px;
            margin-left: 27%;
        }
        .team {
            margin-left: 135px;
        }
        .wr-members .second {
            margin-left: 117px;
        }
        .wr-members .third {
            top: 0;
            left: 89px;
        }
        .wr-members .last {
            left: 170px;
        }
        .wr-blog {
            margin-top: 85px;
        }
        .wr-blog img {
            width: 413px;
            margin-top: 20px;
        }
        .block {
            margin-left: 11.5%;
        }
        .wr-tweet .tweet p {
            padding-left: 70px;
        }
        .wr-form .bottom-links li {
            left: -155px;
            top: -22px;
        }
        .bottom p {
            top: 125px;
            left: 50px;
        }
    }
